// Colors
$color-black-normal: #000000;
$color-black-light: #666666;
$color-grey-light: #aaaaaa;
$color-grey-light-1: #f7f7f7;
$color-white-light: #ffffff;
$color-yellow-normal: #fff67d;
$color-yellow-dark: #fff780;
$color-yellow-darker: #ffb900;
$color-orange-normal: #ff7730;
$color-blue-normal: #2998ff;
$color-blue-dark: #276aaa;
$color-green-normal: #22ca22;
$color-green-dark: #338a33;
$color-red-light: #ff7070;
$color-red-medium: #e22020;
$color-red-dark: #8f0000;

$default-font-size: 1.6rem;

// Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
